<% include header.html %>

    <!-- START #fh5co-header -->
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
        <header id="fh5co-header-section" role="header" class="" >
            <div class="container">
                <!-- <div id="fh5co-menu-logo"> -->
                <!-- START #fh5co-logo -->
                <!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">					
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="insHome" style="font-size:15px;">积分购</a>
					    </li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown" style="font-size:15px;"><%=user%></a>
                                <ul class="fh5co-sub-menu">
                                <li><a href="logout" style="font-size:15px;">安全退出</a></li> 
                            </ul>
						</li>                          
					</ul>
				</nav>
            </div>
        </header>

		<div id="fh5co-main">
			<div class="container">
				<div class="row">                        
                    <div class="col-md-12 animate-box">

                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="button" style="VISIBILITY: hidden" class="btn btn-outline btn-md" id="query" value="积分查询"> 
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                积分名称
                                            </th>
                                            <th>
                                                积分余量
                                            </th>
                                            <th>
                                                官方承兑比率
                                            </th>                                            
                                        </tr>
                                    </thead>
                                    <tbody id='context'></tbody>
                                </table>
                            </div>
                        </div>
                    </div>			
				</div><!-- END row -->
                <div class="fh5co-spacer fh5co-spacer-sm"></div>

			</div><!-- END container -->		
		</div><!-- END fhtco-main -->                   

<% include footer.html %>

<script type="text/javascript">
function load() {
    $("#query").click();   
}
$(function() {
    $("#query").click(function() {
        var data = {
            "asset": "test"
        };
        $.ajax({
            url: '/insQuery',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    var vv = "";
                    var assetRes = $.parseJSON(ret.tips);
                    
                    //按有效期排序
                    // function getSortFun(order, sortBy) {
                    //     var ordAlpah = (order == 'asc') ? '>' : '<';
                    //     var sortFun = new Function('a', 'b', 'return a.' + sortBy + ordAlpah + 'b.' + sortBy + '?1:-1');
                    //     return sortFun;
                    // }
                    // assetRes.UserBalance.sort(getSortFun('asc', 'Expire'));

                    for (i = 0; i < assetRes.length; i++) {
                        vv = vv +   "<tr><td>" + assetRes[i].assetName + 
                                    "</td><td>" + assetRes[i].amount +
                                    "</td><td>" + assetRes[i].rate +
                                    "</td></tr>";
                    }
                    document.getElementById("context").innerHTML = vv;
                } else {
                    document.getElementById("context").innerHTML = "";
                    //alert("资产查询失败，错误：" + ret.tips);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert("资产查询失败，错误：" + errorThrown);
            }
        });
    });
});
</script>  