<% include header.html %>

		<!-- START #fh5co-header -->
		<div class="fh5co-spacer fh5co-spacer-xs"></div>
		<div class="fh5co-spacer fh5co-spacer-xs"></div>
		<header id="fh5co-header-section" role="header" class="">
			<div class="container">
				<!-- <div id="fh5co-menu-logo"> -->
				<!-- START #fh5co-logo -->
				<!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="insHome" style="font-size:15px;">积分购</a>
							<!-- <ul class="fh5co-sub-menu">
							 		<li><a href="#" style="font-size:15px;">1元购</a></li> 
									</ul> -->
						</li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
						<!--<li class="fh5co-special"><a href="contact.html">Get started</a></li>-->
					</ul>
				</nav>
				<!-- </div> -->
			</div>
		</header>

		<div id="fh5co-main">
			<div class="container">
			
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <% var jsonFormat = JSON.stringify(jsonRes,null,2);%>
                            <textarea class="form-control" rows="25" readonly="readonly"><%= jsonFormat %></textarea>
                        </div>
					</div>
                </div>

			</div>
			<!-- END container -->
		</div>
		<!-- END fhtco-main -->

<% include footer.html %>