<% include header.html %>

    <!-- START #fh5co-header -->
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
        <header id="fh5co-header-section" role="header" class="" >
            <div class="container">
                <!-- <div id="fh5co-menu-logo"> -->
                <!-- START #fh5co-logo -->
                <!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">					
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="adminHome" style="font-size:15px;">资产管理</a>
					    </li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown" style="font-size:15px;"><%=user%></a>
                                <ul class="fh5co-sub-menu">
                                <li><a href="logout" style="font-size:15px;">安全退出</a></li> 
                            </ul>
						</li>                          
					</ul>
				</nav>
            </div>
        </header>

		<div id="fh5co-main">
			<div class="container">
                <div class="fh5co-spacer fh5co-spacer-xs"></div>
				<div class="row">
						<form class="form-horizontal" method="post">
                            <div class="col-md-3 col-md-offset-1 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 资产名称" id="assetName" type="text" class="form-control input-md" onclick="return load();">
                                    <div class="fh5co-spacer fh5co-spacer-xs"></div>
                                    <input placeholder=" 资产数量" id="amount" type="text" class="form-control input-md" onclick="return load();">
                                    <div class="fh5co-spacer fh5co-spacer-xs"></div>
                                    <select class="form-control input-md" style="color:#9D9D9D;" id="expire" onmousedown="return changeColor1();">
                                        <option>有效期限</option>
                                        <option>1年</option>
                                        <option>2年</option>
                                        <option>3年</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-1 animate-box">
                                <div class="form-group">                         
                                    <select class="form-control input-md" style="color:#9D9D9D;" id="institution" onmousedown="return changeColor2();">
                                        <option>选择机构</option>
                                        <% for(var i=0; i<institutionList.length;i++){%>
                                            <option><%= institutionList[i].name %></option>
                                        <%}%>
                                    </select>
                                </div>	
                            </div>
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-10">
                                    <p style="color:#FF0000;"><span id="errMessage"></span></p>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary btn-md " id="issue" value="发行">
                                        <input type="reset" class="btn btn-outline btn-md"  id="reset" value="重置" onclick="return changeColorRe();">
                                    </div>	
							    </div>
                            </div>                  
						</form>						
				</div><!-- END row -->
                <div class="fh5co-spacer fh5co-spacer-sm"></div>

			</div><!-- END container -->		
		</div><!-- END fhtco-main -->                   

<% include footer.html %>

<script type="text/javascript">
function load() {
    document.getElementById('errMessage').innerHTML = "";
}
function changeColor1(){
   document.getElementById('errMessage').innerHTML = "";
   var spanElement = document.getElementById("expire");  
   spanElement.setAttribute("style","color:#5B5B5B;");  
   spanElement.style.cssText = "color:#5B5B5B;";     
}
function changeColor2(){
   document.getElementById('errMessage').innerHTML = "";
   var spanElement = document.getElementById("institution");  
   spanElement.setAttribute("style","color:#5B5B5B;");  
   spanElement.style.cssText = "color:#5B5B5B;";     
}
function changeColorRe(){
    document.getElementById('errMessage').innerHTML = "";
    var spanElement = document.getElementById("expire");  
    spanElement.setAttribute("style","color:#9D9D9D;");  
    spanElement.style.cssText = "color:#9D9D9D;"; 
    spanElement = document.getElementById("institution");  
    spanElement.setAttribute("style","color:#9D9D9D;");  
    spanElement.style.cssText = "color:#9D9D9D;";     
}
$(function() {
    $("#issue").click(function() {
        load();
        var $txtAssetName = $('#assetName'),
        assetName = $.trim($txtAssetName.val()),
        $txtAmount = $('#amount'),
        amount = $.trim($txtAmount.val()),
        $txtExpire = $('#expire'),
        expire = $txtExpire.val(),
        $txtInstitution = $('#institution'),
        institution = $txtInstitution.val();
        if (assetName.length == 0) {
            document.getElementById('errMessage').innerHTML = "资产名称不能为空";
            $txtAssetName.focus();
            return false;
        }
        if (amount.length == 0) {
            document.getElementById('errMessage').innerHTML = "资产数量不能为空";
            $txtAmount.focus();
            return false;
        }
        if (isNaN(Number(amount))) {
            document.getElementById('errMessage').innerHTML = "资产数量错误";
            $txtAmount.focus();
            return false;
        }
        if (expire == "有效期限") {
            document.getElementById('errMessage').innerHTML = "请选择有效期限";
            $txtExpire.focus();
            return false;
        }
        if (institution == "选择机构") {
            document.getElementById('errMessage').innerHTML = "请选择机构";
            $txtInstitution.focus();
            return false;
        }                   
        var data = {
            "assetName": assetName,
            "amount": amount,
            "expire": expire,
            "institution": institution
        };
        $.ajax({
            url: '/issue',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    alert("资产发行成功");
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }
        });
    });
});
</script>