<% include header.html %> 
    <!-- START #fh5co-header -->
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
        <header id="fh5co-header-section" role="header" class="" >
            <div class="container">
                <!-- <div id="fh5co-menu-logo"> -->
                <!-- START #fh5co-logo -->
                <!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">					
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="home" style="font-size:15px;">资产管理</a>
					    </li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
					</ul>
				</nav>
            </div>
        </header>

		<div id="fh5co-main">
			<div class="container">
                <div class="fh5co-spacer fh5co-spacer-md"></div>
				<div class="row">
						<form class="form-horizontal" method="post">
                            <div class="col-md-8 col-md-offset-3 animate-box">
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                        <input id="username" name="username" type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1" onclick="return load();">
                                    </div>
                                </div>
    　　　　　　　　　　　　　　　　　<div class="fh5co-spacer fh5co-spacer-xxs"></div>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                        <input id="password" name="password" type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon1" onclick="return load();">
                                    </div>
                                </div>
                            </div>
                            <div class="fh5co-spacer fh5co-spacer-xxs"></div>
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-10">
                                    <p style="color:#FF0000;"><span id="errMessage"></span></p>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary btn-md " id="login" value="登录">
                                        <input type="button" class="btn btn-outline btn-md " id="register" value="注册">
                                    </div>	
							    </div>
                            </div>
                           
						</form>	
					
				</div><!-- END row -->
                <div class="fh5co-spacer fh5co-spacer-sm"></div>

			</div><!-- END container -->		
		</div><!-- END fhtco-main -->                   

<% include footer.html %>

<script type="text/javascript">
function load() {
    document.getElementById('errMessage').innerHTML = "";
}
function displayResult() {
    var x;
    if (window.event) { // IE8 以及更早版本
        x = event.keyCode;
    } else if (event.which) { // IE9/Firefox/Chrome/Opera/Safari
        x = event.which;
    }
    keychar = String.fromCharCode(x);
    if (x == "13") {
        $("#login").click();
    }
}
$(function() {
    $("#register").click(function() {
        location.href = 'register';
    });
    $("#login").click(function() {
        load();
        var username = $.trim($("#username").val());
        var password = $.trim($("#password").val());
        var data = {
            "uname": username,
            "upwd": password
        };
        $.ajax({
            url: '/login',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    location.href = 'home';
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }

            // success: function(data,status){ 
            //     if(status == 'success'){ 
            //         location.href = 'home';   
            //     }
            // },
            // error: function(data,status){
            //     if(status == 'error'){
            //         var datas = JSON.parse(data);
            //         document.getElementById('errMessage').innerHTML = datas.tips;
            //         //location.href = 'login';
            //     }
            // }
        });
    });
});
</script>