<% include header.html %>

    <!-- START #fh5co-header -->
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
        <header id="fh5co-header-section" role="header" class="" >
            <div class="container">
                <!-- <div id="fh5co-menu-logo"> -->
                <!-- START #fh5co-logo -->
                <!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">					
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="home" style="font-size:15px;">资产管理</a>
					    </li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown" style="font-size:15px;"><%=user%></a>
                                <ul class="fh5co-sub-menu">
                                <li><a href="logout" style="font-size:15px;">安全退出</a></li> 
                            </ul>
						</li>                          
					</ul>
				</nav>
            </div>
        </header>

		<div id="fh5co-main">
			<div class="container">
				<div class="row">                        
                    <div class="col-md-12 animate-box">

                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="button" class="btn btn-outline btn-md" id="query" value="资产查询"> 
                                <span style="color:#FF0000;" id="errMessage"></span>
                            </div>
                        </div>
          
                        <div class="col-md-4">         
                            <div class="form-group">    
                                <select class="form-control input-md" id="asset">
                                    <option>选择资产</option>
                                    <% for(var i=0; i<assetList.length;i++){%>
                                        <option><%= assetList[i].asset %></option>
                                    <%}%>
                                </select>                                 
                            </div>                 
                        </div>                     

                        <div class="col-md-9">
                            <div class="form-group">
                                <select class="form-control input-md" id="address">
                                    <option>选择账户</option>
                                    <% for(var i=0; i<addressList.length;i++){%>
                                        <option><%= addressList[i].address %></option>
                                    <%}%>
                                </select>
                            </div>                 
                        </div>                        

                        <div class="col-md-10">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                资产数量
                                            </th>
                                            <th>
                                                资产期限
                                            </th>                                           
                                        </tr>
                                    </thead>
                                    <tbody id='context'></tbody>
                                </table>
                            </div>
                        </div>
                    </div>			
				</div><!-- END row -->
                <div class="fh5co-spacer fh5co-spacer-sm"></div>

			</div><!-- END container -->		
		</div><!-- END fhtco-main -->                   

<% include footer.html %>

<script type="text/javascript">
function load() {
    document.getElementById('errMessage').innerHTML = "";    
}
$(function() {
    $("#query").click(function() {
        load();
        var asset = $('#asset').val();
        var address = $('#address').val();
        var data = {
            "asset": asset,
            "address": address
        };
        $.ajax({
            url: '/query',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    var vv = "";
                    var assetRes = $.parseJSON(ret.tips);
                    
                    //按有效期排序
                    function getSortFun(order, sortBy) {
                        var ordAlpah = (order == 'asc') ? '>' : '<';
                        var sortFun = new Function('a', 'b', 'return a.' + sortBy + ordAlpah + 'b.' + sortBy + '?1:-1');
                        return sortFun;
                    }
                    assetRes.UserBalance.sort(getSortFun('asc', 'Expire'));

                    for (i = 0; i < assetRes.UserBalance.length; i++) {
                        vv = vv +   "<tr><td>" + assetRes.UserBalance[i].Balance + 
                                    "</td><td>" + assetRes.UserBalance[i].Expire + 
                                    "</td></tr>";
                    }
                    document.getElementById("context").innerHTML = vv;
                    document.getElementById('errMessage').innerHTML = "";
                } else {
                    document.getElementById("context").innerHTML = "";
                    document.getElementById('errMessage').innerHTML = ret.tips;
                    //alert("资产查询失败，错误：" + ret.tips);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                document.getElementById("context").innerHTML = "";
                document.getElementById('errMessage').innerHTML = errorThrown;
                //alert("资产查询失败，错误：" + errorThrown);
            }
        });
    });
});
</script>  