<% include header.html %>

    <!-- START #fh5co-header -->
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
        <header id="fh5co-header-section" role="header" class="" >
            <div class="container">
                <!-- <div id="fh5co-menu-logo"> -->
                <!-- START #fh5co-logo -->
                <!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">					
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="adminHome" style="font-size:15px;">资产管理</a>
					    </li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown" style="font-size:15px;"><%=user%></a>
                                <ul class="fh5co-sub-menu">
                                <li><a href="logout" style="font-size:15px;">安全退出</a></li> 
                            </ul>
						</li>                        
					</ul>
				</nav>
            </div>
        </header>

		<div id="fh5co-main">
			<div class="container">
                <div class="fh5co-spacer fh5co-spacer-md"></div>
				<div class="row">
						<form class="form-horizontal" method="post">
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-10">
                                    <p style="color:#FF0000;"><span id="errMessage"></span></p>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary btn-md " id="peers" value="节点">
                                        <input type="button" class="btn btn-primary btn-md " id="chain" value="整链">
                                        <input type="button" class="btn btn-primary btn-md " id="block" value="区块">
                                        <input type="button" class="btn btn-primary btn-md " id="tx" value="交易">
                                        <input type="reset" class="btn btn-outline btn-md"  id="reset" value="重置" onclick="return load();">
                                    </div>	
							    </div>
                            </div>                  
						</form>	
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <textarea class="form-control" rows="25" readonly="readonly" id="textarea"></textarea>
                            </div>
                        </div>                        

				</div><!-- END row -->
                <div class="fh5co-spacer fh5co-spacer-sm"></div>

			</div><!-- END container -->		
		</div><!-- END fhtco-main -->                   

<% include footer.html %>

<script type="text/javascript">
function load() {
    document.getElementById('errMessage').innerHTML = "";
}
$(function() {
    $("#reset").click(function() {
        load();
    });
    $("#peers").click(function() {
        load();
        var data = {
            "op": "peers",
            "args":"1"
        };
        $.ajax({
            url: '/restTest',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    document.getElementById('textarea').innerHTML = JSON.stringify(ret.tips,null,2);
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }
        });
    });
    $("#chain").click(function() {
        load();
        var data = {
            "op": "chain",
            "args":"1"
        };
        $.ajax({
            url: '/restTest',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    document.getElementById('textarea').innerHTML = JSON.stringify(ret.tips,null,2);
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }
        });
    });
    $("#block").click(function() {
        load();
        var data = {
            "op": "block",
            "args":"3"
        };
        $.ajax({
            url: '/restTest',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    document.getElementById('textarea').innerHTML = JSON.stringify(ret.tips,null,2);
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }
        });
    });
    $("#tx").click(function() {
        load();
        var data = {
            "op": "tx",
            "args":"202b255a-5ea6-4897-ae1f-708975cd0172"
        };
        $.ajax({
            url: '/restTest',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    document.getElementById('textarea').innerHTML = JSON.stringify(ret.tips,null,2);
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }
        });
    });            
});
</script>