<% include header.html %>

    <!-- START #fh5co-header -->
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
        <header id="fh5co-header-section" role="header" class="" >
            <div class="container">
                <!-- <div id="fh5co-menu-logo"> -->
                <!-- START #fh5co-logo -->
                <!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">					
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="home" style="font-size:15px;">积分购</a>
					    </li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown" style="font-size:15px;"><%=user%></a>
                                <ul class="fh5co-sub-menu">
                                <li><a href="logout" style="font-size:15px;">安全退出</a></li> 
                            </ul>
						</li>                          
					</ul>
				</nav>
            </div>
        </header>

		<div id="fh5co-main">
			<div class="container">
				<div class="row">
						<form class="form-horizontal" method="post">
                            <div class="col-md-8 col-md-offset-1 animate-box">
                                <div class="form-group">                         
                                    <select class="form-control input-md" style="color:#9D9D9D;" id="address" onchange="return clickAddress();" onmousedown="return changeColor();">
                                        <option>选择账户</option>
                                        <% for(var i=0; i<addressList.length;i++){%>
                                            <option><%= addressList[i].address %></option>
                                        <%}%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-1 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 积分名称" id="asset" type="text" class="form-control input-md" readonly="readonly" onclick="return load();">
                                </div>
                            </div>                            
                            <div class="col-md-3 col-md-offset-2 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 积分数量" id="amount" type="text" class="form-control input-md" onclick="return load();">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-1 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 接收人账户" id="targetAddress" type="text" class="form-control input-md" onchange="return autoDo();" onclick="return load();">
                                </div>
                            </div>                            
                            <div class="col-md-3 col-md-offset-1 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 接收人" id="target" type="text" class="form-control input-md"  readonly="readonly" onclick="return load();">
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-2 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 接收人积分名称" id="targetAsset" type="text" class="form-control input-md" readonly="readonly" onclick="return load();">
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-1 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 兑换比率" id="rate" type="text" class="form-control input-md" readonly="readonly" onclick="return load();">
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-2 animate-box">
                                <div class="form-group">
                                    <input placeholder=" 备注" id="remark" type="text" class="form-control input-md" onclick="return load();">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-10">
                                    <p style="color:#FF0000;"><span id="errMessage"></span></p>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4 animate-box">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary btn-md " id="transfer" value="转移">
                                        <input type="reset" class="btn btn-outline btn-md"  id="reset" value="重置" onclick="return changeColorRe();">
                                    </div>	
							    </div>
                            </div>                  
						</form>						
				</div><!-- END row -->
                <div class="fh5co-spacer fh5co-spacer-sm"></div>

			</div><!-- END container -->		
		</div><!-- END fhtco-main -->                   

<% include footer.html %>

<script type="text/javascript">
window["insOwn"] = "";
window["assetOwn"] = "";
function load() {
    document.getElementById('errMessage').innerHTML = "";
}
function changeColor(){
   document.getElementById('errMessage').innerHTML = "";
   var spanElement = document.getElementById("address");  
   spanElement.setAttribute("style","color:#5B5B5B;");  
   spanElement.style.cssText = "color:#5B5B5B;";  
}
function changeColorRe(){
    document.getElementById('errMessage').innerHTML = "";
    var spanElement = document.getElementById("address");  
    spanElement.setAttribute("style","color:#9D9D9D;");  
    spanElement.style.cssText = "color:#9D9D9D;";  
}

//二级联动查询积分名称
function clickAddress() {
    var add = $("#address").val();
    if(add == "选择账户"){
        $("#asset").val("");
        $("#rate").val("");
        assetOwn = "";
        insOwn = "";
        return false;     
    }
    var data = {
        "add": add
    };
    $.ajax({          
        url: '/queryAssetByAddress',
        type: 'post',
        data: data,
        dataType: 'json',
        success: function(data) {
            var ret = $.parseJSON(data);
            if (ret.code == 200) {
                var assetBack = $.parseJSON(ret.tips);
                $("#asset").val(assetBack[0].asset);
                assetOwn = assetBack[0].asset;
                insOwn = assetBack[0].institution;
                autoDo();
            } else {
                $("#asset").val("");
                $("#rate").val("");
                assetOwn = "";
                insOwn = "";
            }
        },
        error: function(jqXHR, textStatus, errorThrown) { 
            $("#asset").val("");
            $("#rate").val("");
            assetOwn = "";
            insOwn = "";
        }
    });
}

//二级联动查询接收人信息，计算兑换比率
function autoDo() {
    var addressTarget = $.trim($('#targetAddress').val());
    var data = {
        "addressTarget": addressTarget,
        "insOwn": insOwn,
        "assetOwn": assetOwn
    };
    $.ajax({          
        url: '/autoFillTransferForm',
        type: 'post',
        data: data,
        dataType: 'json',
        success: function(data) {
            var ret = $.parseJSON(data);
            if (ret.code == 200) {
                var assetBack = $.parseJSON(ret.tips1);
                $("#target").val(assetBack.user);
                $("#targetAsset").val(assetBack.asset);
                $("#rate").val(ret.tips2);
            } else {
                $("#target").val("");
                $("#targetAsset").val("");
                $("#rate").val("");
            }
        },
        error: function(jqXHR, textStatus, errorThrown) { 
            $("#target").val("");
            $("#targetAsset").val("");
            $("#rate").val("");
        }
    });
}


$(function() {
    $("#reset").click(function() {
        load();
    });
    $("#transfer").click(function() {
        load();
        var $txtAddress = $('#address'),
        address = $txtAddress.val(), 
        $txtAsset = $('#asset'),
        asset = $txtAsset.val(),
        $txtAmount = $('#amount'),
        amount = $.trim($txtAmount.val()),
        $txtTarget = $('#target'),
        target = $.trim($txtTarget.val()),
        $txtTargetAsset = $('#targetAsset'),
        targetAsset = $.trim($txtTargetAsset.val()),
        $txtRate = $('#rate'),
        rate = $.trim($txtRate.val()),
        $txtTargetAddress = $('#targetAddress'),
        targetAddress = $.trim($txtTargetAddress.val());
        if (address == "选择账户") {
            document.getElementById('errMessage').innerHTML = "请选择账户";
            $txtAddress.focus();
            return false;
        }            
        if (amount.length == 0) {
            document.getElementById('errMessage').innerHTML = "积分数量不能为空";
            $txtAmount.focus();
            return false;
        }
        if (isNaN(Number(amount))) {
            document.getElementById('errMessage').innerHTML = "积分数量错误";
            $txtAmount.focus();
            return false;
        }
        if (Number(amount) <= 0) {
            document.getElementById('errMessage').innerHTML = "积分数量不能为负";
            $txtAmount.focus();
            return false;
        }        
        if (target.length == 0) {
            document.getElementById('errMessage').innerHTML = "接收人不能为空";
            $txtTarget.focus();
            return false;
        }
        if (targetAsset.length == 0) {
            document.getElementById('errMessage').innerHTML = "接收人积分名称不能为空";
            $txtTargetAsset.focus();
            return false;
        }
        if (rate.length == 0) {
            document.getElementById('errMessage').innerHTML = "兑换比率不能为空";
            $txtRate.focus();
            return false;
        }
        if (isNaN(Number(rate))) {
            document.getElementById('errMessage').innerHTML = "兑换比率错误";
            $txtRate.focus();
            return false;
        }
        if (Number(rate) <= 0) {
            document.getElementById('errMessage').innerHTML = "兑换比率错误";
            $txtRate.focus();
            return false;
        }                        
        if (targetAddress.length == 0) {
            document.getElementById('errMessage').innerHTML = "接收人账户不能为空";
            $txtTargetAddress.focus();
            return false;
        }            
        var data = {
            "address": address,
            "asset": asset,
            "amount": amount,
            "target": target,
            "targetAsset": targetAsset,
            "rate": rate,
            "targetAddress": targetAddress
        };
        $.ajax({
            url: '/transfer',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    alert("积分转移成功");
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }
        });
    });
});
</script>